<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link rel="stylesheet" href="../static/overstyle.css"/>
</head>
<body>
    <div class="fighter-name">{{ fighter_name }}</div>
    <div class="w-l-d-record">Record: {{ wins }} - {{ loss }} - {{ draws }}</div>
    <!-- Previous Fights Table -->
    <h2 class="table-label">Previous Fights</h2>
    <table class="previous-fights-table">
        <thead>
            <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
            <th>Method</th>
            <th>Weight Class</th>
            <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for fight in previous_fights %}
            <tr>
                <td>{{ fight.date }}</td>
                <td>{{ fight.opponent }}</td>
                <td>{{ fight.result }}</td>
                <td>{{ fight.method }}</td>
                <td>{{ fight.weight }}</td>
                <!-- Add more table data columns as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>