<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link rel="stylesheet" href="../static/overstyle.css"/>
</head>
<body>
    
    
    <div class="fighter-name">{{ fighter_name }}</div>
    {% if fighter_nickname %}
    <div class="fighter-nickname">"{{ fighter_nickname }}"</div>
    {% endif %}
    <div class="w-l-d-record"><span class="inner-label">Record: </span><span class="win">{{ wins }}</span> - <span class="loss">{{ losses }}</span> - <span class="draw">{{ draws }}</span></div>
    <!-- Display Fighter physical info -->
    <div class="fighter-stats-container">
        
        {% if height %}
            <div class="height fighter-stats"><span class="inner-label">Height: </span>{{ height }}"</div>
        {% endif %}
        {% if weight %}
            <div class="weight fighter-stats"><span class="inner-label">Weight: </span>{{ weight }} lbs</div>
        {% endif %}
        {% if reach %}
            <div class="reach fighter-stats"><span class="inner-label">Reach: </span>{{ reach }}"</div>
        {% endif %}
        {% if stance %}
            <div class="stance fighter-stats"><span class="inner-label">Stance: </span>{{ stance }}</div>
        {% endif %}
    </div>
    
    <!-- Previous Fights Table -->
    <h2 class="table-label">Previous Fights</h2>
    <table class="previous-fights-table">
        <thead>
            <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Winner</th>
            <th>Method</th>
            <th>Weight Class</th>
            <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for fight in previous_fights %}
            <tr>
                <!-- 3,4 -->
                <td>{{ fight[1] }}</td>
                {% if fight[3].lower() == fighter_name.lower() %}
                    <td>{{ fight[4] }}</td>
                {% else %}
                    <td>{{ fight[3] }}</td>
                {% endif %}
                
                <td>{{ fight[2] }}</td>
                <td>{{ fight[10] }}</td>
                <td>{{ fight[9] }}</td>
                <!-- Add more table data columns as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>