* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #27374D;
}
  
.title{
    font-size: 100px;
    text-align: center;
    font-family: myFirstFont;
    color: #c5000c;
    margin-top: 20px;
}
  
.main-greeting{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 140px;
}
  
.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
}
  
#user_input_main{
    border: 2px solid black;
    height: 50px;
    background-color: antiquewhite;
    margin-right: 15px;
}
  
#submit-button{
    border: 2px solid black;
    background-color: #c5000c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 250px;
    height: 50px;
}
  
#submit-button:hover{
    opacity: 0.7;
    transition: opacity 0.2s;
}

@font-face{
    font-family: myFirstFont;
    src: url(../static/Sternbach_Bold_Italic.otf);
}
